@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Roboto Condensed", sans-serif;
}
